streamlit
pandas
numpy
matplotlib
openpyxl
requests
Pillow
google-auth
google-auth-oauthlib
google-auth-httplib2
gspread
google-api-python-client
google-cloud-storage
oauth2client
google-api-python-client
openai==1.23.6
httpx==0.27.0
google-generativeai
pypdf
python-docx
langchain
langchain-google-genai
faiss-cpu
xlsxwriter